cleaned_ratings.csv
data/processed/*.csv
data/processed/*.pt
data/processed/model_training/**/*
!data/processed/model_training/**/
!data/processed/model_training/**/.gitkeep
reports/figures/*.png
.ipynb_checkpoints/
.venv/
.venv-1/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.DS_Store
.self-read.txt
